<head>
  <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css">
  <script type="text/javascript" src="/scripts/nav_bar.js" defer></script>
</head>

<div class="burger">
  <div class="burger-line"></div>
</div>

<nav class="nav-container">
  <ul class="list-container">
    <li class="li-home"><a href="/categories">HOME</a></li>
    <li class="li-pins"><a href="/pins">MY PINS</a></li>
    <li class="li-likes"><a href="/likes">MY LIKES</a></li>
    <li class="li-search">
      <form method="POST" action="/categories">
        <div class="search-container">
          <input id="search-value" placeholder="What's on your mind?" type="search" name="search" autocomplete="off">
          <button id="search-button" class="btn btn-primary" type="submit">SEARCH
          </button>
        </div>
      </form>
    </li>
    <li class="li-settings"><a href="/settings">SETTINGS</a></li>
    <!-- <li class="li-contact"><a href="/contact">CONTACT US</a></li> -->

    <li class="li-login"><a href="/login">LOG IN / LOG OUT</a></li>
  </ul>
</nav>
