<nav>Navbar
  <ul>
    <li><a href="/categories">HOME (if not already on home page)</a></li>
    <li><a href="/pins">MY PINS</a></li>
    <li><a href="/likes">MY LIKES</a></li>
    <li>
      <form method="POST" action="/categories"><input id="search-value" placeholder="SEARCH" type="search" name="search"> 
      <button id="search-button" class="btn btn-primary" type="submit">Search</button></form>
    </li>
    <li><a href="/settings">SETTINGS</a></li>
    
    <li><a href="/login">LOG OUT/LOG IN (2 routes)</a></li>
  </ul>
</nav>