<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pins</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script>
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <h1 style="height: 2000px">Username pins</h1>
  <button class="scroll-top">Press me to scroll top!</button>
</body>
</html>
