<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script>
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <!-- <form id="new-pin" action="/categories" method="POST"> -->
    <form id="new-pin">
    <label>Create a new pin!</label>
    <input type="text" id="new-pin-name" name="new-pin-name" placeholder="Title of Pin">
    <label>Description</label>
    <textarea placeholder="Type the description of your pin" id="new-pin-description"></textarea>
    <label>Pin image:</label>
    <input id="new-pin-image" type="file"/>
    </form>
    <button form="new-pin" id="add-pin-button">Submit Pin</button>
  <main class="flex-container">
  </main>
</body>
</html>
