<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📚 Mid Term</title>
  <!-- EXTERNAL CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- CSS STYLES -->
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- NIGHTMODE -->
  <!-- <link rel="stylesheet" href="/styles/nightmode.css" type="text/css" /> -->

  <!-- EXTERNAL SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>


  <!-- SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js" defer></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script>
  <script type="text/javascript" src="/scripts/view_manager.js" defer></script>
</head>

<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <h1>Home Page</h1>

  <h1>Categories</h1>
  <section id="categories-container">
    <!-- fill with dynamic categories -->
  </section>

  <h1>Pins</h1>
  <section id="pins-container">
    <div class="pin-container">
      <img src="https://picsum.photos/200/300" class="pin-thumbnail">
      <span class="pin-title">PIN TITLE</span>
      <p class="pin-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, perspiciatis.</p>
      <span class="pin-date">2019-2-01</span>
    </div>
  </section>

</body>

</html>
