<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nightmode.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
</html>



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📚 Mid Term</title>
</head>
<body>
  <!-- SAMPLE IMAGES FOR NIGHT MODE -->
  <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
  <img src="https://i.picsum.photos/id/237/200/200.jpg">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
  
  <header>
    <%- include('partials/navbar') %>
  </header>
  <main class="flex-container">
<!-- load categories.ejs -->
<!-- OR -->
<!-- load pins.ejs -->
<!-- OR -->
<!-- load likes.ejs -->
  </main>
</body>
</html>