<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📚 Mid Term</title>
  <!-- EXTERNAL CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- CSS STYLES -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- NIGHTMODE -->
  <!-- <link rel="stylesheet" href="/styles/nightmode.css" type="text/css" /> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js" defer></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script> 
</head>

<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <h1>My Likes</h1>
  <div class="pin-container">
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil
        stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil
        stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil
        stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil
        stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil
        stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat
        undead survivor dictum mauris dentevil vultus comedat cerebella
        undead survivor dictum mauris dentevil vultus comedat cerebella
        undead survivor dictum mauris dentevil vultus comedat cerebella cerebella viventium.</p>
    </div>
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
    </div>
    <div class="box">
      <img src="https://i.picsum.photos/id/237/200/200.jpg">
      <h2>Title goes here</h2>
      <p>De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless
        undead survivor dictum mauris dentevil vultus comedat cerebella mortuis soulless creaturas, imo evil stalking
        monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-Aep8qyNF50X7Ga0pl3Xd-UoC5kr76tpOEV6brAfaHDcx3FbE&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris dentevil
        vultus comedat cerebella
        undead survivor dictum mauris dentevil vultus comedat cerebella viventium.</p>
    </div>
    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
    </div>

  </div>

  <button class="scroll-top" style="height: 200px; width: 200px; background-color: red; border-radius: 50%; font-size: 20px; font-weight: bold; float: right; margin: 3em;">Press me to scroll top!</button>
</body>

</html>
