<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📚 Mid Term</title>
  <!-- EXTERNAL CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <!-- CSS STYLES -->
  <!-- <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <!-- NIGHTMODE -->
  <!-- <link rel="stylesheet" href="/styles/nightmode.css" type="text/css" /> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js" defer></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script>
  <script type="text/javascript" src="/scripts/modal.js" defer></script>

</head>

<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <h1>My Pins</h1>

  <form id="new-pin">
    <label>Create a new pin!</label>
    <input type="text" id="new-pin-name" name="new-pin-name" placeholder="Title of Pin" required>
    <label>Description</label>
    <textarea placeholder="Type the description of your pin" id="new-pin-description" required></textarea>
    <label>Pin image:</label>
    <input id="new-pin-image" type="text" />
    <button form="new-pin" id="add-pin-button">Submit Pin</button>
  </form>


  <div id="pins-container">
  <div class="pin-container">
    <div class="box">
      <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
      <h2>Title goes here</h2>
      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
        quaeritis.</p>
        <p class="timestamp">Created at: Sat Apr 04 2020 23:02:26 </p>
        <form id="new-comment-form">
          <textarea placeholder= "Comment here" name="text" id="comment-text" required></textarea>
          <button type="submit">Add Comment</button>
        </form>
        <p>Rating: <span class="rating-1">⭐</span><span class="rating-2">⭐</span><span class="rating-3">⭐</span><span class="rating-4">⭐</span><span class="rating-5">⭐</span></p>
        <form action='/pins' method='POST'>
          <input class="like-checkbox" type="checkbox">Like</input>
        </form>
        <span class="comment-options">
        <button class="edit-comment">Edit</button>
        <button class="delete-comment">Delete</button>
      </span>





      <div id="simpleModal" class="modal">
        <div class="modal-content">
          <div class="box">
            <img src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-6753651837108752-law.gif">
            <h2>Title goes here</h2>
            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
              quaeritis.</p>
              <p id="timestamp">Created at: Sat Apr 04 2020 23:02:26 </p>
              <p>Rating: <span class="rating-1">⭐</span><span class="rating-2">⭐</span><span class="rating-3">⭐</span><span class="rating-4">⭐</span><span class="rating-5">⭐</span></p>
              <input type="checkbox">Like</input>
              <span class="comment-options">
              <button class="edit-comment">Edit</button>
              <button class="delete-comment">Delete</button>
            </span>
              <p class="user-comment">Sample user commented:</p>
              <p class="comment">cerebro. De carne lumbering animata corpora
                quaeritis.Zombie ipsum reversa
                q </p>
                <p class="user-comment">Sample user commented:</p>
              <p class="comment">cerebro. De carne lumbering animata corpora
                quaeritis.Zombie ipsum reversus ab viral inferno, nam rick grimes malum cena
                q </p>
                <p class="user-comment">Sample user commented:</p>
              <p class="comment">cerebro. De carne lumbering animata corpora
                quaeritis.Zombie ipsum
                q </p>
          </div>
          </div>
          <span class="close-button">Close Pin</span>
        </div>
      </div>



    <div>
      <section class='comments-list'>
        <div class='comment'>
          <p>Love this post!</p>
          <p>Posted by: user_a</p>
        </div>
        <div class='comment'>
          <p>This post sucks!</p>
          <p>Posted by: user_b</p>
        </div>
      </section>
    </div>

    <div class="box">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfiw1Ypmk7UEa6W08atXsMGz_PJX19GiZIfBQt3dS74Q-FdrmA&usqp=CAU">
      <h2>Title goes here</h2>
      <p>Undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
        dentevil vultus comedat cerebella viventium.</p>
        <p id="timestamp">Created at: Sat Apr 04 2020 23:02:26 </p>
        <section class='comments-list'>
          <div class='comment'>
            <p>Love this post!</p>
            <p>Posted by: user_a</p>
          </div>
          <div class='comment'>
            <p>This post sucks!</p>
            <p>Posted by: user_b</p>
          </div>
        </section>
    </div>
  </div>
</div>

  <button class="scroll-top"
    style="height: 200px; width: 200px; background-color: red; border-radius: 50%; font-size: 20px; font-weight: bold; float: right; margin: 3em;">Press
    me to scroll top!</button>





    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>
