<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📚 Mid Term</title>
  <!-- EXTERNAL CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <!-- CSS STYLES -->
  <!-- <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <!-- NIGHTMODE -->
  <!-- <link rel="stylesheet" href="/styles/niqghtmode.css" type="text/css" /> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js" defer></script>
  <script type="text/javascript" src="/scripts/client.js" defer></script>
  <script type="text/javascript" src="/scripts/modal.js" defer></script>

</head>

<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <h1>My Pins</h1>

  <form id="new-pin" action="/pins" method="POST">
    <label>Create a new pin!</label>
    <input type="text" id="new-pin-name" name="new-pin-name" placeholder="Title of Pin" required>
    <label>Description</label>
    <textarea placeholder="Type the description of your pin" id="new-pin-description" required></textarea>
    <label>URL to Resource</label>
    <input type="text" id="new-pin-url" name="new-pin-url" placeholder="Link to Resource" required>
    <label>Pin image:</label>
    <input id="new-pin-image" type="text" required />
    <label for="category">Category:</label>
    <input type="text" name="category" id="category" placeholder="Category Name" required>
    <button form="new-pin" id="add-pin-button">Submit Pin</button>
  </form>


  <div id="pins-container">
    <div class="pin-container">
      <!-- Load Pins Here-->
    </div>
  </div>



  <div>
    <section class='comments-list'>
      <div class='comment'>
        <p>Love this post!</p>
        <p>Posted by: user_a</p>
      </div>
      <div class='comment'>
        <p>This post sucks!</p>
        <p>Posted by: user_b</p>
      </div>
    </section>
  </div>
  </div>
  </div>

  <button class="scroll-top"
    style="height: 200px; width: 200px; background-color: red; border-radius: 50%; font-size: 20px; font-weight: bold; float: right; margin: 3em;">Press
    me to scroll top!</button>





  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>
