* {
  color: gray;
}

body {
  background-color: black;
}

img {
  filter: invert(25%);
}

input {
  color: black;
  background-color: lightgray;
}

.pin-container .box {
  background-color: black;
  border: lightgray;
  border: solid;
}